@import 'variables.scss';

@import '../../node_modules/@bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '../../node_modules/@bower_components/font-awesome/scss/font-awesome.scss';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */
header {
     background-color: $navbar-inverse-bg;
     margin-bottom: $header-margin-bottom;
}

.navbar {
  margin-bottom: 0;
  .nav li {
       &.active .nav-label {
           color: $navbar-inverse-link-hover-color;
       }
       .label {
           color: $navbar-inverse-color;
       }
       &:hover .nav-label {
           color: $navbar-inverse-link-hover-color;
       }

       @media (max-width: 420px) {
        a {
          text-align: center;
          padding-top: 8px;
          padding-bottom: 5px;
          i {
               font-size: 140%;
          }
          .nav-label {
               font-size: 70%;
               display: block;
               color: $navbar-inverse-color;
           }
         }
       }
       @media (max-width: 330px) {
        a {
          padding-left: 13px;
          padding-right: 13px;
        }
      }
  }
}


/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: $gray-light;
        text-decoration: none;
        font-size: 40px;
        @include transition( 250ms ease-in-out );

        &:hover {
          color: $gray;
        }
      }
    }
  }
}

.toolbar-right {
    float: right;
}

@import '../app/home/home.scss';
@import '../app/scores/scores.scss';
