<!DOCTYPE html>
<html ng-app="ngScorekeeper" ng-controller="AppCtrl" manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    
    <link rel="manifest" href="manifest.webmanifest">
    <script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('service-worker.js');
	}
	</script>
    
    <link rel="icon" href="assets/favicon.png">

    <meta name="apple-mobile-web-app-title" content="scorekeeper">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png">

    <meta name="twitter:description" content="scorekeeper: A simple way to track scores for board and card games">
    <meta name="twitter:image:src" content="https://flack.github.io/scorekeeper/assets/scorekeeper.jpg">
    <meta property="og:title" content="scorekeeper" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://flack.github.io/scorekeeper" />
    <meta property="og:image" content="https://flack.github.io/scorekeeper/assets/scorekeeper.jpg" />
    <meta property="og:description" content="scorekeeper: A simple way to track scores for board and card games">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href ui-sref="home">
              scorekeeper
            </a>
          </div>
        </div>
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="players">
                <i class="fa fa-user"></i>
                <span class="nav-label">Players</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="scores">
                <i class="fa fa-pencil-square-o"></i>
                <span class="nav-label">Scores</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="games">
                <i class="fa fa-trophy"></i>
                <span class="nav-label">Games</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main ui-view="main"></main>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            <a href="https://github.com/flack/scorekeeper/releases/tag/v<%= version %>">
                v<%= version %>
            </a>
            (c) 2014 &mdash; 2018 Andreas Flack.
            <a href="https://github.com/flack/scorekeeper">Fork this</a>
            <br />
            based on
            <a href="https://www.angularjs.org">AngularJS</a>,
            <a href="https://getbootstrap.com">Bootstrap</a>,
            <a href="https://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and
            <a href="https://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
